In [2]:
import sqlite3

banco=sqlite3.connect("Empresa.db")
cursor=banco.cursor()

Funcionarios=[('1','Harry','James','Potter','1980-07-31','000.000.000-00','000000','Rua dos Alfeneiros','70.000-00','Surrey','9000-0000','1','Chefe do Departamento','12345,00'),
    ('2','Hermione','Jean','Granger','1979-09-19','111.111.111-11','111111','Rua Heathgate','70.000-00','Hampstead','9111-1111','1','Ministra da Magia','19876,00'),
    ('3','Ronald','Abilio','Weasley','1980-03-01','222.222.222-22','222222','A Toca','70.000-00','Devon','9222-2222','2','Gerente','9876,00'),
    ('4','Luna','Scamander','Lovegood','1981-02-13','333.333.333-33','333333','Ottery','70.000-00','St. Catchpole','9333-3333','3','Magizoologista','8765,00'),
    ('5','Ginevra','Molly','Weasley','1981-08-11','444.444.444-44','444444','A Toca','70.000-00','Devon','9444-4444','4','Apanhadora','9876,00'),
    ('6','Neville','Longbottom','Professor','1980-07-30','555.555.555-55','555555','Grifinoria','70.000-00','Hogwarts','9555-5555','5','Professor de Herbologia','8765,00'),
    ('7','Draco','Lucio','Malfoy','1980-06-05','666.666.666-66','666666','Sonserina','70.000-00','Hogwarts','9666-6666','1','Auror','8765,00'),
    ('8','Newton','Artemis','Scamander','1897-02-24','777.777.777.-77','777777','Lufa-lufa','70.000-00','Hogwarts','9777-7777','3','Magizoologista','9876,00'),
    ('9','Porpentina','Esther','Goldstein','1901-08-19','888.888.888-88','888888','Pássaro-Trovão','70.000-00','Ilvermorny','9888-8888','1','Auror','9876,00'),
    ('10','Alvo','Percival','Dumbledore','1881-08-21','999.999.999-99','999999','Diretoria','70.000-00','Hogwarts','9999-9999','5','Diretor','12345,00')]

#criar tabela de Funcionários
cursor.execute("""create table Funcionarios(Codigo integer, PrimeiroNome text, SegundoNome text, UltimoNome text, DataNasci date, CPF text, RG text, Endereço text, CEP text, Cidade text, Fone text, CodigoDepartamento integer, Funcao text, Salario real)""")

In [3]:
#Inserir dados na tabela
cursor.executemany("""insert into Funcionarios values(?,?,?,?,?,?,?,?,?,?,?,?,?,?)""",Funcionarios)
banco.commit()
#consulta dados da tabela
cursor.execute("select * from Funcionarios")
print(cursor.fetchall())

[(1, 'Harry', 'James', 'Potter', '1980-07-31', '000.000.000-00', '000000', 'Rua dos Alfeneiros', '70.000-00', 'Surrey', '9000-0000', 1, 'Chefe do Departamento', '12345,00'), (2, 'Hermione', 'Jean', 'Granger', '1979-09-19', '111.111.111-11', '111111', 'Rua Heathgate', '70.000-00', 'Hampstead', '9111-1111', 1, 'Ministra da Magia', '19876,00'), (3, 'Ronald', 'Abilio', 'Weasley', '1980-03-01', '222.222.222-22', '222222', 'A Toca', '70.000-00', 'Devon', '9222-2222', 2, 'Gerente', '9876,00'), (4, 'Luna', 'Scamander', 'Lovegood', '1981-02-13', '333.333.333-33', '333333', 'Ottery', '70.000-00', 'St. Catchpole', '9333-3333', 3, 'Magizoologista', '8765,00'), (5, 'Ginevra', 'Molly', 'Weasley', '1981-08-11', '444.444.444-44', '444444', 'A Toca', '70.000-00', 'Devon', '9444-4444', 4, 'Apanhadora', '9876,00'), (6, 'Neville', 'Longbottom', 'Professor', '1980-07-30', '555.555.555-55', '555555', 'Grifinoria', '70.000-00', 'Hogwarts', '9555-5555', 5, 'Professor de Herbologia', '8765,00'), (7, 'Draco', 'Lucio', 'Malfoy', '1980-06-05', '666.666.666-66', '666666', 'Sonserina', '70.000-00', 'Hogwarts', '9666-6666', 1, 'Auror', '8765,00'), (8, 'Newton', 'Artemis', 'Scamander', '1897-02-24', '777.777.777.-77', '777777', 'Lufa-lufa', '70.000-00', 'Hogwarts', '9777-7777', 3, 'Magizoologista', '9876,00'), (9, 'Porpentina', 'Esther', 'Goldstein', '1901-08-19', '888.888.888-88', '888888', 'Pássaro-Trovão', '70.000-00', 'Ilvermorny', '9888-8888', 1, 'Auror', '9876,00'), (10, 'Alvo', 'Percival', 'Dumbledore', '1881-08-21', '999.999.999-99', '999999', 'Diretoria', '70.000-00', 'Hogwarts', '9999-9999', 5, 'Diretor', '12345,00')]

In [4]:
Departamento=[('1','Ministerio da Magia','Londres','123'),
             ('2','Gemialidades','Beco Diagonal','234'),
             ('3','Pesquisa','Londres','345'),
             ('4','Quadribol','Londres','456'),
             ('5','Ensino','Hogwarts','567')]

cursor.execute("""create table Departamento(CodigoDepartamento integer, Nome text, Localizacao text, CodigoFuncionarioGerente)""")

In [5]:
cursor.executemany("""insert into Departamento values(?,?,?,?)""",Departamento)
banco.commit()
#consulta dados da tabela
cursor.execute("select * from Departamento")
print(cursor.fetchall())

[(1, 'Ministerio da Magia', 'Londres', '123'), (2, 'Gemialidades', 'Beco Diagonal', '234'), (3, 'Pesquisa', 'Londres', '345'), (4, 'Quadribol', 'Londres', '456'), (5, 'Ensino', 'Hogwarts', '567')]

In [6]:
#A
cursor.execute("""SELECT PrimeiroNome, UltimoNome
               FROM Funcionarios 
               ORDER BY UltimoNome""")
print(cursor.fetchall())

[('Alvo', 'Dumbledore'), ('Porpentina', 'Goldstein'), ('Hermione', 'Granger'), ('Luna', 'Lovegood'), ('Draco', 'Malfoy'), ('Harry', 'Potter'), ('Neville', 'Professor'), ('Newton', 'Scamander'), ('Ronald', 'Weasley'), ('Ginevra', 'Weasley')]

In [7]:
#B
cursor.execute("""SELECT * FROM Funcionarios 
               ORDER BY Cidade""")
print(cursor.fetchall())

[(3, 'Ronald', 'Abilio', 'Weasley', '1980-03-01', '222.222.222-22', '222222', 'A Toca', '70.000-00', 'Devon', '9222-2222', 2, 'Gerente', '9876,00'), (5, 'Ginevra', 'Molly', 'Weasley', '1981-08-11', '444.444.444-44', '444444', 'A Toca', '70.000-00', 'Devon', '9444-4444', 4, 'Apanhadora', '9876,00'), (2, 'Hermione', 'Jean', 'Granger', '1979-09-19', '111.111.111-11', '111111', 'Rua Heathgate', '70.000-00', 'Hampstead', '9111-1111', 1, 'Ministra da Magia', '19876,00'), (6, 'Neville', 'Longbottom', 'Professor', '1980-07-30', '555.555.555-55', '555555', 'Grifinoria', '70.000-00', 'Hogwarts', '9555-5555', 5, 'Professor de Herbologia', '8765,00'), (7, 'Draco', 'Lucio', 'Malfoy', '1980-06-05', '666.666.666-66', '666666', 'Sonserina', '70.000-00', 'Hogwarts', '9666-6666', 1, 'Auror', '8765,00'), (8, 'Newton', 'Artemis', 'Scamander', '1897-02-24', '777.777.777.-77', '777777', 'Lufa-lufa', '70.000-00', 'Hogwarts', '9777-7777', 3, 'Magizoologista', '9876,00'), (10, 'Alvo', 'Percival', 'Dumbledore', '1881-08-21', '999.999.999-99', '999999', 'Diretoria', '70.000-00', 'Hogwarts', '9999-9999', 5, 'Diretor', '12345,00'), (9, 'Porpentina', 'Esther', 'Goldstein', '1901-08-19', '888.888.888-88', '888888', 'Pássaro-Trovão', '70.000-00', 'Ilvermorny', '9888-8888', 1, 'Auror', '9876,00'), (4, 'Luna', 'Scamander', 'Lovegood', '1981-02-13', '333.333.333-33', '333333', 'Ottery', '70.000-00', 'St. Catchpole', '9333-3333', 3, 'Magizoologista', '8765,00'), (1, 'Harry', 'James', 'Potter', '1980-07-31', '000.000.000-00', '000000', 'Rua dos Alfeneiros', '70.000-00', 'Surrey', '9000-0000', 1, 'Chefe do Departamento', '12345,00')]

In [8]:
#C
cursor.execute("""SELECT *
               FROM Funcionarios 
               WHERE Salario>1000
               ORDER BY PrimeiroNome, SegundoNome, UltimoNome""")
print(cursor.fetchall())

[(10, 'Alvo', 'Percival', 'Dumbledore', '1881-08-21', '999.999.999-99', '999999', 'Diretoria', '70.000-00', 'Hogwarts', '9999-9999', 5, 'Diretor', '12345,00'), (7, 'Draco', 'Lucio', 'Malfoy', '1980-06-05', '666.666.666-66', '666666', 'Sonserina', '70.000-00', 'Hogwarts', '9666-6666', 1, 'Auror', '8765,00'), (5, 'Ginevra', 'Molly', 'Weasley', '1981-08-11', '444.444.444-44', '444444', 'A Toca', '70.000-00', 'Devon', '9444-4444', 4, 'Apanhadora', '9876,00'), (1, 'Harry', 'James', 'Potter', '1980-07-31', '000.000.000-00', '000000', 'Rua dos Alfeneiros', '70.000-00', 'Surrey', '9000-0000', 1, 'Chefe do Departamento', '12345,00'), (2, 'Hermione', 'Jean', 'Granger', '1979-09-19', '111.111.111-11', '111111', 'Rua Heathgate', '70.000-00', 'Hampstead', '9111-1111', 1, 'Ministra da Magia', '19876,00'), (4, 'Luna', 'Scamander', 'Lovegood', '1981-02-13', '333.333.333-33', '333333', 'Ottery', '70.000-00', 'St. Catchpole', '9333-3333', 3, 'Magizoologista', '8765,00'), (6, 'Neville', 'Longbottom', 'Professor', '1980-07-30', '555.555.555-55', '555555', 'Grifinoria', '70.000-00', 'Hogwarts', '9555-5555', 5, 'Professor de Herbologia', '8765,00'), (8, 'Newton', 'Artemis', 'Scamander', '1897-02-24', '777.777.777.-77', '777777', 'Lufa-lufa', '70.000-00', 'Hogwarts', '9777-7777', 3, 'Magizoologista', '9876,00'), (9, 'Porpentina', 'Esther', 'Goldstein', '1901-08-19', '888.888.888-88', '888888', 'Pássaro-Trovão', '70.000-00', 'Ilvermorny', '9888-8888', 1, 'Auror', '9876,00'), (3, 'Ronald', 'Abilio', 'Weasley', '1980-03-01', '222.222.222-22', '222222', 'A Toca', '70.000-00', 'Devon', '9222-2222', 2, 'Gerente', '9876,00')]

In [9]:
#D
cursor.execute("""SELECT DataNasci, PrimeiroNome
               FROM Funcionarios 
               ORDER BY DataNasci DESC""")
print(cursor.fetchall())

[('1981-08-11', 'Ginevra'), ('1981-02-13', 'Luna'), ('1980-07-31', 'Harry'), ('1980-07-30', 'Neville'), ('1980-06-05', 'Draco'), ('1980-03-01', 'Ronald'), ('1979-09-19', 'Hermione'), ('1901-08-19', 'Porpentina'), ('1897-02-24', 'Newton'), ('1881-08-21', 'Alvo')]

In [10]:
#E
cursor.execute("""SELECT SUM(Salario)
               FROM Funcionarios """)
print(cursor.fetchall())

[(110365.0,)]

In [11]:
#F
cursor.execute("""SELECT Funcionarios.PrimeiroNome, Departamento.Nome, Funcionarios.Funcao
               FROM Funcionarios JOIN Departamento
               On Funcionarios.CodigoDepartamento=Departamento.CodigoDepartamento
               ORDER BY Funcionarios.PrimeiroNome""")
print(cursor.fetchall())

[('Alvo', 'Ensino', 'Diretor'), ('Draco', 'Ministerio da Magia', 'Auror'), ('Ginevra', 'Quadribol', 'Apanhadora'), ('Harry', 'Ministerio da Magia', 'Chefe do Departamento'), ('Hermione', 'Ministerio da Magia', 'Ministra da Magia'), ('Luna', 'Pesquisa', 'Magizoologista'), ('Neville', 'Ensino', 'Professor de Herbologia'), ('Newton', 'Pesquisa', 'Magizoologista'), ('Porpentina', 'Ministerio da Magia', 'Auror'), ('Ronald', 'Gemialidades', 'Gerente')]

In [12]:
#G
cursor.execute("""SELECT COUNT(*)
               FROM Funcionarios """)
print(cursor.fetchall())

[(10,)]

In [13]:
#H
cursor.execute("""SELECT Departamento.Nome, Funcionarios.PrimeiroNome, Funcionarios.SegundoNome, Funcionarios.UltimoNome
               FROM Departamento JOIN Funcionarios
               On Departamento.CodigoDepartamento=Funcionarios.CodigoDepartamento
               ORDER BY Departamento.Nome, Funcionarios.PrimeiroNome""")
print(cursor.fetchall())

[('Ensino', 'Alvo', 'Percival', 'Dumbledore'), ('Ensino', 'Neville', 'Longbottom', 'Professor'), ('Gemialidades', 'Ronald', 'Abilio', 'Weasley'), ('Ministerio da Magia', 'Draco', 'Lucio', 'Malfoy'), ('Ministerio da Magia', 'Harry', 'James', 'Potter'), ('Ministerio da Magia', 'Hermione', 'Jean', 'Granger'), ('Ministerio da Magia', 'Porpentina', 'Esther', 'Goldstein'), ('Pesquisa', 'Luna', 'Scamander', 'Lovegood'), ('Pesquisa', 'Newton', 'Artemis', 'Scamander'), ('Quadribol', 'Ginevra', 'Molly', 'Weasley')]